<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        {% include 'erp/partials/head.html' %}
        <title>{% block 'title' %}{% endblock 'title' %} | ERP</title>
    </head>
    <body class="h-100">
        {% comment %} {% include 'erp/partials/header.html' %} {% endcomment %}
        {% comment %} {% include 'erp/partials/search.html' %} {% endcomment %}
        <main class="container-fluid px-0 d-flex">
            <div class="row flex-nowrap">
                {% include "erp/partials/sidebar.html" %}
                {% block 'content' %}{% endblock 'content' %}
            </div>
        </main>
{% comment %}         
        {% include 'erp/partials/footer.html' %} {% endcomment %}
        <script src="{% static "js/script.js" %}"></script>
    </body>

</html>